<h1>This is my Index</h1>

<ul>
<% @tasks.each do |task| %>
  <li class="task">
  <%= link_to task.title, task_path(task) %>
  <%= link_to "Delete Task", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
  <hr>
<% end %>
</ul>

<%= link_to "Add a task", new_task_path %>
